<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spd.order.mapper.OrderMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spd.order.beans.Order">
        <id column="order_id" property="orderId" />
        <result column="order_num" property="orderNum" />
        <result column="cust_id" property="custId" />
        <result column="total_price" property="totalPrice" />
        <result column="pay_way" property="payWay" />
        <result column="consignee" property="consignee" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="order_state" property="orderState" />
        <result column="create_time" property="createTime" />
        <result column="receiving_time" property="receivingTime" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, order_num, cust_id, total_price, pay_way, consignee, address, phone, order_state, create_time, receiving_time, is_del
    </sql>

</mapper>
